.container {
    display: flex;
    height: 100%;
    width: 100%;

}

.view-section, .add-section, .edit-section, .search-section {
    padding: 10px 50px;

}

.view-section {
    width: 45%;
}
.editbtnn{
    width: 72px;
    margin-bottom: 2px;
}

.row {
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid black;
    margin: 5px;
}
.action {
    color: blueviolet;
}
.inputt{
    margin-bottom: 2px;
}
.action:hover {
    cursor: pointer;
}
.btnsort1{
    
    float: right;
}
.btnsort{
    float: left;
}